body {
  background-color: #0e9AA7;
  color: #ffffff;
  padding: 20px;
  margin: 0;
  overflow-x: hidden;
  margin-bottom: 0px;
}

.Home {
  display: inline-block;
  text-align: center;
  margin:10px;
  width: 1350px ;
  height: 500px;;
  font-family: 'Muli', sans-serif;
  padding: 5px;
  position:relative; top:60px;
  background-image: url(newclock.jpeg);
  border-radius: 40px;
}

h1 {
  color: #F5EE9E;
  font-size: 3em;;
}

.logo {
  width: 100px;
  height: 100px;
  position:relative; left:20px; top: -620px;
}

.logoName {
  position:relative; top: -660px; left: 19px;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: bold;
}

.Welcome {
  position: relative; top: 50px;
  color: #2D728F
}

.Signup {
  background-color:#FE4A49; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 300px;
  height: 90px;
  font-size: 1.6em;
  font-weight: bold;
  position: relative; top: 130px;
}

.Login {
  background-color: #E9EFF0; 
  border: 3px solid #FE4A49;
  color: #FE4A49;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 300px;
  height: 90px;
  font-size: 1.6em;
  font-weight: bold;
  position: relative; top: 130px;
}

.Signup:hover, .Login:hover {
  transform: scale(1.05);
}


*{
  font-family: 'Muli', sans-serif;
}

.About {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin:0px 250px;
  position: relative; top: -200px; left: -300px;
  padding: 100px;

}

.About h1 {
  font-size: 3em;
}

.About p {
  font-size: 1.5em;
  line-height: 35pt;
}

.BigLogo {
  position: relative;  left: 845px; top: -810px;
}

.smartfast {
  font-size:5em;
  color: #ffffff;
  font-weight: bold;
  position: relative; left: 35px; top: -180px;
}

.logo2{
  width: 450px;
  height: auto;
}

.pics img{
  width: 120px;
  height: auto;
  padding: 15px;
  position: relative; top:-1620px; left:820px;
}

.team {
  position: relative; left: 940px; top:-1850px;
  font-size: 1em;
}

.names {
  list-style: none;
  display: flex;
  flex: wrap;
  padding: 8px;
  font-size: 1.5em;
  justify-content: space-between;
  width: 520px;
  position: relative; left: 800px; top: -1750px;
}

.Sa {
  position: relative; left: 60px;
}

.MattT {
  position: relative; left: 53px;
}

.Amatullah {
  position: relative; left: 15px;
}

.MattM {
  position: relative; left: -30px;
}