/* Navbar container */
.navbar {
    overflow: hidden;
    font-family:'Muli', sans-serif;;
    margin-left: 550px;
    margin-right: 100px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    display: inline-block;
    font-size: 1.5em;;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    position: relative; left: 250px; top: 10px;

  }

/* Hover animation */
 a:hover {
    transform: scale(1.3)
  }
