.popup {  
    position: fixed;  
    width: 500px;  
<<<<<<< HEAD
    height: 350px;  
=======
    height: 450px;  
>>>>>>> 40d599e33985d0fdfa0b210c8a09348a48dd2755
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: white;
    border: 100px; 
    border-color: #2F4858;
}  

.dim {
    width: 100%;
    height: 100%;
    background-color: black;
  }